// flex
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_column {
    display: flex;
    flex-direction: column;
}

// 말줄임
@mixin text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
