@import "../../styles/variables";
@import "../../styles/mixins";

main {
    .intro_section {
        margin-bottom: 0;

        .container {
            .text_box {
                margin-top: 175px;

                .paragraph {
                    color: $dark_gray;
                    font-weight: $font_weight_bold;
                }
                h3 {
                    margin: 18px 0 38px;
                    font-family: $font_family_english;
                    font-size: 40px;
                    color: $black;
                    font-weight: $font_weight_regular;
                    line-height: 1.25;
                }
            }
            .bg_box {
                .bg_photo {
                    width: 100%;
                    height: 334px;
                    background: url("/portfolio-v2/img/profile_1.png") no-repeat
                        center/cover;
                }
                .bg_black_box {
                }
            }
        }
    }
    .about_section {
        position: relative;
        margin: 0;
        padding-bottom: 100px;
        background: $light_gray;

        .container {
            @include flex_center;

            .bg_black_box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 248px;
                background: $black;
            }
            .about_me {
                position: absolute;
                top: 65px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                font-size: 40px;
                font-family: $font_family_english;
                color: $white;
                font-weight: $font_weight_regular;
            }
            .img_text_box {
                @include flex_column;
                gap: 50px;

                .bg_photo {
                    width: 100%;
                    aspect-ratio: 1;
                    max-width: 430px;
                    margin: 132px auto 0;
                    background: url("/portfolio-v2/img/profile_2.png") no-repeat
                        center/cover;
                    border-radius: 50%;
                    z-index: 2;
                }
                .text_box {
                    text-align: center;

                    .philosophy {
                        .title {
                            letter-spacing: -0.02px;
                        }
                        .paragraph_1 {
                            margin: 30px 0;

                            strong {
                            }
                        }
                    }
                    .dark_gray_line {
                        display: inline-block;
                        width: 50px;
                        height: 2px;
                        margin: 30px 0;
                        background: $dark_gray;
                    }
                    .about {
                        @include flex_center;
                        @include flex_column;
                        gap: 4px;

                        li {
                            display: flex;
                            gap: 10px;

                            b {
                                font-weight: $font_weight_semi_bold;
                            }
                            p {
                            }
                        }
                    }
                }
            }
        }
    }
    .history_section {
        .container {
            .title {
                margin-bottom: 30px;
                text-align: center;
            }
            .history_boxes {
                @include flex_column;
                gap: 16px;

                // 공통
                .history_box {
                    width: 100%;
                    padding: 40px 30px;
                    border-top: 5px solid $dark_gray;
                    box-shadow: $card_shadow;

                    .history_title {
                        font-family: $font_family_korean;
                        font-size: 18px;
                        font-weight: $font_weight_bold;
                        color: $black;
                    }
                    .history_year {
                        margin: 15px 0;
                        font-family: $font_family_korean;
                        font-size: 18px;
                        font-weight: $font_weight_semi_bold;
                        color: $black;
                    }
                    .paragraph {
                    }
                }
                .history_box_1 {
                }
                .history_box_2 {
                }
                .history_box_3 {
                }
                .history_box_4 {
                }
            }
            .stick {
            }
        }
    }
    .skill_section {
        .container {
            .title {
                margin-bottom: 30px;
                text-align: center;
            }
            .skill_slider {
            }
        }
    }
    .portfolio_section {
        .container {
            .title {
                margin-bottom: 30px;
                text-align: center;
            }
            .portfolio_slider {
            }
        }
    }
    .contact_section {
        .container {
            @include flex_column;
            @include flex_center;

            .title {
                margin-bottom: 30px;
                text-align: center;
            }
            .bg_photo {
                width: 47.297%;
                max-height: 417px;
                aspect-ratio: 140 / 184;
                background: url("/portfolio-v2/img/profile_3.png") no-repeat
                    center/cover;
                max-width: 670px;
            }
            .line {
                display: inline-block;
                width: 50px;
                height: 5px;
                margin: 30px 0 20px;
                background: $dark_gray;
            }
            .email {
                font-family: $font_family_english;
                font-size: 20px;
                color: $black;
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .intro_section {
            position: relative;

            .container {
                .text_box {
                    margin-top: 255px;

                    .paragraph {
                    }
                    h3 {
                        margin: 18px 0 144px;
                        font-size: 60px;
                        line-height: 1.15;
                    }
                }
                .bg_box {
                    .bg_photo {
                        width: 74.251%;
                        height: 460px;
                    }
                    .bg_black_box {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 62.5%;
                        height: 528px;
                        background: $black;
                        z-index: -1;
                    }
                }
            }
        }
        .about_section {
            padding-bottom: 150px;

            .container {
                .bg_black_box {
                    top: 0;
                    left: 0;
                    width: 17.708%;
                    height: 100%;
                }
                .about_me {
                    top: 350px;
                    left: -41%;
                    transform: rotate(-90deg);
                    font-size: 100px;
                    color: $white;
                }
                .img_text_box {
                    align-items: baseline;
                    gap: 80px;
                    margin-left: 17.964%;

                    .bg_photo {
                        width: 548px;
                        height: 548px;
                        max-width: 548px;
                        margin: 100px auto 0;
                    }
                    .text_box {
                        margin: 0 auto;
                        z-index: 2;
                        text-align: left;

                        .philosophy {
                            .title {
                                letter-spacing: 0;
                            }
                            .paragraph_1 {
                                margin: 30px 0;

                                strong {
                                }
                            }
                        }
                        .dark_gray_line {
                            margin: 50px 0;
                        }
                        .about {
                            align-items: baseline;

                            li {
                                b {
                                }
                                p {
                                }
                            }
                        }
                    }
                }
            }
        }
        .history_section {
            .container {
                position: relative;

                .title {
                }
                .history_boxes {
                    gap: 20px;
                    margin-left: 86px;

                    // 공통
                    .history_box {
                        position: relative;
                        height: 248px;
                        padding: 40px;
                        border-top: 0;

                        .history_title {
                            font-size: 20px;
                        }
                        .history_year {
                            margin: 25px 0;
                            font-size: 20px;
                        }
                        .paragraph {
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -85px;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50px;
                            background: $dark_gray;
                            z-index: 2;
                        }
                    }
                    .history_box {
                    }
                    .history_box_2 {
                    }
                    .history_box_3 {
                    }
                    .history_box_4 {
                    }
                }
                .stick {
                    position: absolute;
                    top: 250px;
                    left: 8px;
                    display: inline-block;
                    width: 5px;
                    height: 806px;
                    background: $dark_gray;
                    z-index: -1;
                }
            }
        }
        .contact_section {
            .container {
                .title {
                }
                .bg_photo {
                    width: 324px;
                    height: 417px;
                }
                .line {
                    width: 100px;
                    margin: 40px 0 20px;
                }
                .email {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        .intro_section {
            .container {
                .text_box {
                    margin-top: 255px;

                    .paragraph {
                    }
                    h3 {
                        margin: 18px 0 84px;
                        font-size: 80px;
                        line-height: 1.1;
                    }
                }
                .bg_box {
                    .bg_photo {
                        width: 64.008%;
                        height: 460px;
                    }
                    .bg_black_box {
                        width: 63.085%;
                        height: 528px;
                    }
                }
            }
        }
        .about_section {
            padding-bottom: 100px;

            .container {
                justify-content: baseline;

                .bg_black_box {
                    width: 25.878%;
                }
                .about_me {
                    left: -30%;
                    color: $white;
                }
                .img_text_box {
                    gap: 80px;
                    margin-left: 28.879%;

                    .bg_photo {
                        width: 548px;
                        height: 548px;
                        margin: 100px auto 0;
                    }
                    .text_box {
                        text-align: left;

                        .philosophy {
                            .title {
                            }
                            .paragraph_1 {
                                margin: 30px 0;

                                strong {
                                }
                            }
                        }
                        .dark_gray_line {
                        }
                        .about {
                            li {
                                b {
                                }
                                p {
                                }
                            }
                        }
                    }
                }
            }
        }
        .history_section {
            .container {
                .title {
                }
                .history_boxes {
                    gap: 20px;
                    margin-left: 158px;

                    // 공통
                    .history_box {
                        width: 89.61%;
                        height: 248px;
                        padding: 40px;

                        .history_title {
                        }
                        .history_year {
                        }
                        .paragraph {
                        }

                        &::before {
                            top: 50%;
                            transform: translateY(-50%);
                            left: -79px;
                        }
                    }
                    .history_box {
                    }
                    .history_box_2 {
                    }
                    .history_box_3 {
                    }
                    .history_box_4 {
                    }
                }
                .stick {
                    top: 250px;
                    left: 86.5px;
                }
            }
        }
        .contact_section {
            .container {
                .title {
                }
                .bg_photo {
                }
                .line {
                }
                .email {
                    font-size: 60px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    main {
        .intro_section {
            max-width: 1920px;
            height: 840px;
            margin: 100px auto 0;

            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .text_box {
                    position: relative;
                    margin-top: 0;

                    .paragraph {
                    }
                    h3 {
                        margin: 18px 0 84px;
                        font-size: 80px;
                        white-space: nowrap;
                    }
                }
                .bg_box {
                    .bg_photo {
                        width: 655px;
                        height: 741px;
                    }
                    .bg_black_box {
                        width: 40%;
                        max-width: 751px;
                        height: 840px;
                    }
                }
            }
        }
        .about_section {
            max-width: 1920px;
            margin: 0 auto;
            padding-bottom: 164px;

            .container {
                .bg_black_box {
                    width: 37.187%;
                }
                .about_me {
                    top: 50%;
                    left: -33.5%;
                    transform: translateY(-50%) rotate(-90deg);
                }
                .img_text_box {
                    gap: 55px;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 164px;
                    margin-left: 12.759%;

                    .bg_photo {
                        margin: 0 auto;
                    }
                    .text_box {
                        text-align: left;

                        .philosophy {
                            .title {
                            }
                            .paragraph_1 {
                                strong {
                                }
                            }
                        }
                        .dark_gray_line {
                        }
                        .about {
                            li {
                                b {
                                }
                                p {
                                }
                            }
                        }
                    }
                }
            }
        }
        .history_section {
            .container {
                .title {
                }
                .history_boxes {
                    display: block;
                    margin-left: 0;

                    // 공통
                    .history_box {
                        width: 570px;
                        height: auto;
                        padding: 40px;

                        .history_title {
                        }
                        .history_year {
                        }
                        .paragraph {
                        }

                        &::before {
                            top: 50%;
                            transform: translateY(-50%);
                            left: auto;
                        }
                    }
                    .history_box_1 {
                        margin-left: auto;

                        &::before {
                            left: -138px;
                        }
                    }
                    .history_box_2 {
                        &::before {
                            right: -138px;
                        }
                    }
                    .history_box_3 {
                        margin-left: auto;

                        &::before {
                            left: -138px;
                        }
                    }
                    .history_box_4 {
                        &::before {
                            right: -138px;
                        }
                    }
                }
                .stick {
                    top: 240px;
                    left: 50%;
                    transform: translate(-50%);
                    height: 756px;
                }
            }
        }
        .contact_section {
            .container {
                .title {
                }
                .bg_photo {
                    width: 334px;
                    height: 417px;
                }
                .line {
                }
                .email {
                    font-size: 60px;
                }
            }
        }
    }
}
