@import "../../styles/variables";

footer {
    padding: 50px 0;
    background: $black;

    .container {
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font_family_english;
            font-size: 14px;
            color: $white;
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    footer {
        .container {
            p {
                font-size: 18px;
            }
        }
    }
}
