@import "../../styles/variables";

footer {
    padding-bottom: 50px;

    .container {
        p {
            font-family: $font_family_english;
            font-size: 14px;
            color: $black;
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    footer {
        padding-bottom: 100px;

        .container {
            p {
                font-size: 18px;
            }
        }
    }
}
