.swiper.portfolio_slider {
    padding-bottom: 70px;
}

.portfolio_slider .vertical_card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

@media (min-width: 768px) {
    .portfolio_slider .vertical_card_wrapper {
        gap: 50px;
    }
}

@media (min-width: 1440px) {
    .portfolio_slider .swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
        transform: none !important;
    }

    .portfolio_slider .vertical_card_wrapper {
        flex-direction: row;
        gap: 20px;
    }

    .swiper.portfolio_slider .swiper-pagination {
        display: none;
    }
}
