.swiper.skill_slider {
    overflow: visible !important;
    padding-bottom: 70px;
}

.skill_slider .vertical_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

@media (min-width: 768px) {
    .swiper.skill_slider {
        width: 100%;
        padding-bottom: 0;
    }

    .skill_slider .swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: none !important;
    }

    .skill_slider .swiper-slide {
        width: auto !important;
        margin-right: 0 !important;
        transform: none !important;
    }

    .skill_slider .vertical_card_wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .skill_slider .swiper-pagination {
        display: none;
    }
}

@media (min-width: 1440px) {
    .skill_slider .swiper-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skill_slider .swiper-slide {
        width: calc(50% - 15px) !important;
        margin-right: 0 !important;
        transform: none !important;
    }

    .skill_slider .vertical_card_wrapper {
        justify-content: start;
    }
}
